node_modules
npm-debug.log
__test__
.git
.github
.husky
.vscode
docs
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.prettierrc
commitlint.config.js
docker-compose.yaml
env.example
jest.config.js
nodemon.json
package-lock.json
README.md
