<div class='left side-menu'>
  <div class='slimscroll-menu' id='remove-scroll'>
    <!----->
    <div id='sidebar-menu'>
      <!-- Left Menu Start -->
      <ul class='metismenu' id='side-menu'>
        <li class='menu-title'>Menu</li>
        <li>
          <a href='/admin' class='waves-effect'>
            <i class='dripicons-meter'></i>
            {{!-- <span class='badge badge-info badge-pill float-right'>9+</span> --}}
            <span> Dashboard </span>
          </a>
        </li>
        
        {{#compare role '===' 'admin'}}
        <li>
          <a href='/admin/administrators' class='waves-effect'>
            <i class='fas fa-user-shield'></i>
            <span> Admin users </span>
          </a>
        </li>
        {{/compare}}

        <li>
          <a href='/admin/users' class='waves-effect'>
            <i class='fas fa-user'></i>
            <span> Users management </span>
          </a>
        </li>

        <li>
          <a href='/admin/cinemas' class='waves-effect'>
            <i class='mdi mdi-movie-roll'></i>
            <span> Cinemas management </span>
          </a>
        </li>

        <li>
          <a href='/admin/movies' class='waves-effect'>
            <i class="fa fa-film"></i>
            <span> Movie management </span>
          </a>
        </li>

        <li>
          <a href='/admin/showtimes' class='waves-effect'>
            <i class="fa fa-clock"></i>
            <span> Showtimes management </span>
          </a>
        </li>
      </ul>

    </div>
    <!-- Sidebar -->
    <div class='clearfix'></div>

  </div>
  <!-- Sidebar -left -->
</div>
